a {
	color: #394351;
	text-decoration: none;
}

a:hover {
	color: #428EFF;
	TEXT-DECORATION: underline
}

a.showmenu {
	color: blue;
	text-decoration: none;
}

a.showmenu:hover {
	color: #FF8E20;
	TEXT-DECORATION: underline
}

a.showlink {
	color: red;
	text-decoration: none;
}

a.showlink:hover {
	color: blue;
	TEXT-DECORATION: underline
}

A.showtitle {
	color: #FFFFFF;
	text-decoration: none;
}

A.showtitle:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

body {
	font-size: 12px;
	color: #333333;
	font-family: 宋体;
	margin-top: 0px;
	background: #CAD7F7;
	SCROLLBAR-FACE-COLOR: #799AE1;
	SCROLLBAR-HIGHLIGHT-COLOR: #799AE1;
	SCROLLBAR-SHADOW-COLOR: #799AE1;
	SCROLLBAR-DARKSHADOW-COLOR: #799AE1;
	SCROLLBAR-3DLIGHT-COLOR: #799AE1;
	SCROLLBAR-ARROW-COLOR: #FFFFFF;
	SCROLLBAR-TRACK-COLOR: #AABFEC;
}

td {
	Font-family: 宋体;
	Font-size: 12px;
	Line-height: 20px;
	Line-height: 150%;
	Table-layout: Fixed;
	Word-break: Break-all
}

input {
	Font-family: Verdana, Arial, Helvetica, Sans-serif, 宋体;
	Text-decoration: None;
	Border-top-width: 1px;
	Border-left-width: 1px;
	Font-size: 12px;
	Border-bottom-width: 1px;
	Border-right-width: 1px
}

option {
	Font-family: Verdana, Arial, Helvetica, Sans-serif, 宋体;
	Text-decoration: None;
	Border-top-width: 1px;
	Border-left-width: 1px;
	Font-size: 12px;
	Border-bottom-width: 1px;
	Border-right-width: 1px
}

textarea {
	Font-family: Verdana, Arial, Helvetica, Sans-serif, 宋体;
	Text-decoration: None;
	Border-top-width: 1px;
	Border-left-width: 1px;
	Font-size: 12px;
	Border-bottom-width: 1px;
	Border-right-width: 1px
}

select {
	Font-family: Verdana, Arial, Helvetica, Sans-serif, 宋体;
	Border-top-width: 1px;
	Border-left-width: 1px;
	Font-size: 12px;
	Border-bottom-width: 1px;
	Border-right-width: 1px
}

span {
	Font-family: Verdana, Arial, Helvetica, Sans-serif, 宋体;
	Font-size: 12px;
	Position: Static
}

legend {
	color: #008800;
}

br {
	OVERFLOW: hidden;
	LINE-HEIGHT: 3px
}

.divbody {
	color: #333333;
	text-align: right
}

td.TableRow1 {
	background-color: #EEEEE6;
	height: 25;
	padding-right: 5px;
	padding-left: 5px;
}

td.TableRow2 {
	background-color: #EEEEE6;
	height: 25;
	padding-right: 5px;
	padding-left: 5px;
}

td.TableRow {
	background-color: #EEEEE6;
	height: 25;
	padding-right: 5px;
	padding-left: 5px;
}

td.TableTitle {
	background-color: #5A6576;
	color: #F6F6F6;
	font-size: 12px;
	font-weight: bold;
	height: 25;
}

.TableBorder {
	border: 1px #335EA8 solid;
	background-color: #C9C9C3;
	font: 12px;
	width: 98%
}

.TableBorder_1 {
	border: 1px #335EA8 solid;
	background-color: #C9C9C3;
	font: 12px;
	width: 100%
}

.mTableBorder {
	border: 1px solid;
	background-color: #C9C9C3;
	font: 12px;
	width: 98%
}

.TableBorders1 {
	border-top: 1px #335EA8 solid;
	border-bottom: 0px;
	border-left: 1px #335EA8 solid;
	border-right: 1px #335EA8 solid;
	background-color: #CFCFCF;
	font: 12px;
	width: 98%
}

.TableBorders2 {
	border-top: 0px;
	border-bottom: 1px #335EA8 solid;
	border-left: 1px #335EA8 solid;
	border-right: 1px #335EA8 solid;
	background-color: #CFCFCF;
	font: 12px;
	width: 98%
}

.TableBorders3 {
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px #335EA8 solid;
	border-right: 1px #335EA8 solid;
	background-color: #CFCFCF;
	font: 12px;
	width: 98%
}

.TableBorder1 {
	border: 2px #335EA8 solid;
	background-color: #CFCFCF;
	font: 12px;
	width: 65%
}

.TableBorder2 {
	background-color: #CFCFCF;
}

td.BodyTitle {
	background-image: url(images/admin_top_bg.gif);
	background-color: #5298E4;
	color: #F6F6F6;
}

td.BodyTitle2 {
	background-image: url(images/admin_bg_2.gif);
	background-color: #5298E4;
	color: #333333;
}

th {
	background-image: url(images/admin_top_bg.gif);
	background-color: #335EA8;
	color: white;
	font-size: 12px;
	font-weight: bold;
	height: 26;
}

td.TableTitle1 {
	background-color: #335EA8;
	Color: #FFFFFF;
}

td.TableTitle2 {
	background-color: #E4E8EF;
}

td.TableBody1 {
	background-color: #FFFFFF;
	line-height: normal;
}

td.TableBody2 {
	background-color: #E4E8EF;
	line-height: normal;
}

.tableBorder5 {
	border: 1px #335EA8 solid;
	background-color: #D6E0EF;
}

.normalTextSmall {
	font-size: 11px;
	color: #FF0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.magicframe {
	border: 1px solid #CCCCCC;
}

.PageInput {
	border: solid 1px #D6E0EF;
	BACKGROUND-COLOR: #FAFAFA;
	height: 18px;
	FONT-FAMILY: Arial;
	FONT-SIZE: 11.5px;
}

.RomNumber {
	overflow: hidden;
	height: 365px;
	background-color: highlight;
	border-right: 0px;
	text-align: right;
	font-family: tahoma;
	/*font-family: Fixedsys;*/
	font-size: 12px;
	font-weight: bold;
	color: highlighttext;
	cursor: default;
}

.txtmain {
	height: 365px;
	width: 92%;
	font-family: tahoma;
	color: highlight;
	font-size: 12px;
	font-weight: bold;
	border-left: 0px;
}

.Button {
	BORDER-RIGHT: #ACA899 1px solid;
	BORDER-TOP: #ffffff 1px solid;
	FONT-SIZE: 9pt;
	BACKGROUND: #EEEEE0;
	BORDER-LEFT: #FFFFFF 1px solid;
	BORDER-BOTTOM: #ACA899 1px solid
}

.Copyright {
	padding-right: 1px;
	border-top: #384780 1px dashed;
	padding-left: 1px;
	padding-bottom: 1px;
	font: 11px verdana, arial, helvetica, sans-serif;
	color: #2F3C6C;
	padding-top: 1px;
	text-decoration: none
}

.DottedLine {
	border-bottom: #384780 1px dotted
}

.style1 {
	color: #FF0000
}

.style2 {
	color: #0000FF
}

.style3 {
	color: #009900
}

.quote {
	margin: 5px 20px;
	border: 1px solid #CCCCCC;
	padding: 5px;
	background: #F3F3F3
}

.HtmlCode {
	margin: 5px 20px;
	border: 1px solid #CCCCCC;
	padding: 5px;
	background: #FDFDDF;
	font-size: 14px;
	font-family: Tahoma;
	font-style: oblique;
	line-height: normal;
	font-weight: bold;
}

/*
a.tt{ color: #000000; text-decoration: none }
a.tt:hover { color: #336699; text-decoration: none; position: relative; right: 0px; top: 1px }
*/
.menuskin {
	BORDER-RIGHT: #666666 1px solid;
	BORDER-TOP: #666666 1px solid;
	BORDER-LEFT: #666666 1px solid;
	BORDER-BOTTOM: #666666 1px solid;
	BACKGROUND-IMAGE: url(images/menubg.gif);
	POSITION: absolute;
	VISIBILITY: hidden; . menuitems { PADDING-RIGHT : 1px;
	PADDING-TOP: 1px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	MARGIN: 2px;
	font-size: 9pt;
	line-height: 14pt;
}

mouseoverstyle {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT: #0B008B 1px solid;
	BORDER-TOP: #0B008B 1px solid;
	BORDER-LEFT: #0B008B 1px solid;
	BORDER-BOTTOM: #0B008B 1px solid;
	BACKGROUND-COLOR: #FFEEC2
}

.menuskin A {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 30px;
}

#TableTitleLink A:link,#TableTitleLink A:visited {
	COLOR: 000000;
}