<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bx</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  <filter>
    <filter-name>BxListInputValidateFilter</filter-name>
    <filter-class>com.bx.filter.BxListInputValidateFilter</filter-class>
  </filter>
  <filter>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>com.bx.filter.SetCharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BxListInputValidateFilter</filter-name>
    <url-pattern>/BxListInputValidate</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>AdminProcess</servlet-name>
    <servlet-class>com.bx.controller.AdminProcess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AfficheProcess</servlet-name>
    <servlet-class>com.bx.controller.AfficheProcess</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>BxProcess</display-name>
    <servlet-name>BxProcess</servlet-name>
    <servlet-class>com.bx.controller.BxProcess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserProcess</servlet-name>
    <servlet-class>com.bx.controller.UserProcess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManage</servlet-name>
    <servlet-class>com.bx.controller.UserManage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GeneralManage</servlet-name>
    <servlet-class>com.bx.controller.GeneralManage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BxListInputValidate</servlet-name>
    <servlet-class>com.bx.controller.BxListInputValidate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategorizationManage</servlet-name>
  	<servlet-class>com.bx.controller.CategorizationManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProcess</servlet-name>
    <url-pattern>/AdminProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AfficheProcess</servlet-name>
    <url-pattern>/AfficheProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BxProcess</servlet-name>
    <url-pattern>/BxProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserProcess</servlet-name>
    <url-pattern>/UserProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManage</servlet-name>
    <url-pattern>/UserManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeneralManage</servlet-name>
    <url-pattern>/GeneralManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BxListInputValidate</servlet-name>
    <url-pattern>/BxListInputValidate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategorizationManage</servlet-name>
  	<url-pattern>/CategorizationManage</url-pattern>
  </servlet-mapping>
</web-app>